:root{
  --site-width:1120px;
  --min-site-width:360px;
  --application-padding:20px;

  /*dark theme*/

  --header-text: #e4f1ff;
  --basic-text: #8fd5eb;
  --header-background: #2e3234;
  --body-background: #000000;
  --header-hover: #4a5868;
  --logo-colour: #04bbff;
  --link-colour: #0eff4a;
  --border-colour: #04bbff;

  /*keep this in sync /src/constants.js*/
  /*breakpoints*/
  --xs: 400px;
  --sm: 680px;
  --md: 1024px;
  --lg: 1200px;
}



