@import './constants.pcss';

@media (min-width: var(--sm)) {
  .hidden-sm-up { // hidden from small size and above
    display: none;
  }

}

@media (max-width:  var(--sm)) {
  .hidden-sm-down { // hide anything up to small size
    display: none;
  }
  .zero-opacity-sm-down { // hide anything up to small size
    opacity: none;
  }

  #main-container {
    text-align: justify;
  }
}

